{% extends "base.jinja2" %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Изменение языка ({{ lang_info.lang_code }})</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="" id="lang_form">
            <div class="box-body">
                <input type="hidden" name="lang_code" value="{{ lang_info.lang_code }}">
                <div class="form-group">
                    <label for="lang_name">Название языка</label>
                    <input type="text" class="form-control" id="lang_name" name="lang_name"
                           placeholder="Language name"
                           value="{{ lang_info.lang_name }}"
                    >
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="submit" class="btn btn-primary lang_submitter" value="OK">
            </div>
        </form>
    </div>

    {{ "/js/shop/localization/lang_edit.js" | append(js_imports) }}
{% endblock %}
