{% extends "base.jinja2" %}

{% block content %}
    {% if group_platform is undefined %}
        {% set group_platform = dict(id='', name='') %}
        {% set submit_button_title = 'Создать' %}
    {% else %}
        {% set submit_button_title = 'Сохранить' %}
    {% endif %}

    <div class="row">
        <form action="" id="platform_group_form">
            <div class="col-md-6">
                <div class="box">
                    <input id="platform_group_id" name="platform_group_id" type="hidden" value="{{ group_platform.id }}" />
                    <div class="box-body">
                        <div class="form-group">
                            <label for="platform_group_name">Название группы платформ</label>
                            <input id="platform_group_name" name="platform_group_name" class="form-control" type="text" value="{{ group_platform.name }}" />
                        </div>
                    </div>
                    <div class="box-footer">
                        <a href="{{ url('content.shop.platform_groups.manage') }}" class="btn btn-default">Отменить</a>
                        <button id="submit-platform-group" type="submit" class="btn btn-info pull-right platform_group_submit">{{ submit_button_title }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {{ '/js/shop/content/platform_group.js' | append(js_imports) }}
{% endblock %}
