{% extends "base.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a href="{{ url('content.shop.platform_groups.create') }}" type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Новая группа платформ</a>
                </div>
                <div class="box-body">
                    <div id="platform_groups_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="platform_groups" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="platform_groups_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" width="64px" tabindex="0" aria-controls="platform_groups" rowspan="1" colspan="1" aria-sort="ascending">ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="platform_groups" rowspan="1" colspan="1">Название группы платформ</th>
                                            <th tabindex="0" width="64px" aria-controls="platform_groups" rowspan="1" colspan="1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in platform_groups %}
                                        <tr role="row" class="{% if loop.index is divisibleby 2 %}onn{% else %}even{% endif %}">
                                            <td class="sorting_1 platform_group_id">{{ item.platform_group_id }}</td>
                                            <td>{{ item.platform_group_name }}</td>
                                            <td class="text-center">
                                                <a href="{{ url('content.shop.platform_groups.update', platform_group_id=item.platform_group_id) }}"
                                                   title="Редактировать">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#" class="platform_group_remove">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">ID</th>
                                            <th rowspan="1" colspan="1">Название группы платформ</th>
                                            <th rowspan="1" colspan="1"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ '/js/shop/content/platform_group.js' | append(js_imports) }}
{% endblock %}
