{% macro render() -%}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; <a href="https://gaming-warehouse.com">Gaming Warehouse</a></strong>
    </footer>
{%- endmacro %}