{% macro render(request) -%}
    {% set user_id = request['user']['user_id'] %}
    {% set user_name = request['user']['name'] %}
    {% set user_surname = request['user']['surname'] %}
    {% set user_image = 'https://profile.gaming-warehouse.com/api/v1/account/picture/%d'|format(user_id) %}
    {% set user_groups = request['groups']|map(attribute='name')|join(', ') %}

    <header class="main-header">
        <a href="{{ url('index') }}" class="logo">
            <span class="logo-mini"><b>WH</b></span>
            <span class="logo-lg"><b>Warehouse</b> Admin</span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ user_image }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ user_name }} {{ user_surname }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{{ user_image }}" class="img-circle">
                                <p>
                                    {{ user_name }} {{ user_surname }}
                                    <small>{{ user_groups }}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="https://profile.gaming-warehouse.com/account/details" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="https://profile.gaming-warehouse.com/api/v1/session/logout" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{%- endmacro %}