{% macro render() -%}
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">АДМИНИСТРИРОВАНИЕ</li>
                <li class="treeview">
                    <a href="#">
                    <i class="fa fa-users"></i> <span>Пользователи</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                    <i class="fa fa-shopping-cart"></i> <span>Магазин</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                    <i class="fa fa-comments"></i> <span>Форум</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                    </ul>
                </li>

                <li class="header">УПРАВЛЕНИЕ</li>
                <li class="treeview">
                    <a href="#">
                    <i class="fa fa-shopping-cart"></i> <span>Магазин</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="#">
                            <i class="fa fa-pencil"></i> <span>Контент</span>
                            <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                            </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{ url('content.shop.platform_groups.manage') }}"><i class="fa fa-circle-o"></i> Группы платформ</a></li>
                                <li><a href="{{ url('content.shop.platforms.manage') }}"><i class="fa fa-circle-o"></i> Платформы</a></li>
                                <li><a href="{{ url('content.shop.services.manage') }}"><i class="fa fa-circle-o"></i> Услуги</a></li>
                                <li><a href="{{ url('content.shop.delivery_options.manage') }}"><i class="fa fa-circle-o"></i> Опции доставки</a></li>
                                <li><a href="{{ url('content.shop.games.manage') }}"><i class="fa fa-circle-o"></i> Игры</a></li>
                                <li><a href="{{ url('content.shop.products.manage') }}"><i class="fa fa-circle-o"></i> Товары</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                            <i class="fa fa-language"></i> <span>Локализация</span>
                            <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                            </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{ url('localization.shop.language.manage') }}"><i class="fa fa-circle-o"></i> Языки</a></li>
                                <li><a href="{{ url('localization.shop.translate.manage') }}"><i class="fa fa-circle-o"></i> Переводы</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                    <i class="fa fa-comments"></i> <span>Форум</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                    </ul>
                </li>

                <li class="header">МОДЕРАЦИЯ</li>
                <li class="treeview">
                    <a href="#">
                    <i class="fa fa-wechat"></i> <span>Чаты</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                    </ul>
                </li>

                <li class="header">ПОДДЕРЖКА</li>

                <li class="header">СЕРВИСЫ</li>
                <li><a href="https://profile.gaming-warehouse.com" target="_blank"><i class="fa fa-external-link-square "></i> Профиль</a></li>
                <li><a href="https://gaming-warehouse.com" target="_blank"><i class="fa fa-external-link-square "></i> Магазин</a></li>
                <li><a href="https://forum.gaming-warehouse.com" target="_blank"><i class="fa fa-external-link-square "></i> Форум</a></li>
            </ul>
        </section>
    </aside>
{%- endmacro %}