{% extends "base.jinja2" %}

{% block content %}
    {% if delivery_option is undefined %}
        {% set delivery_option = dict(id='', name='') %}
        {% set submit_button_title = 'Создать' %}
    {% else %}
        {% set submit_button_title = 'Сохранить' %}
    {% endif %}

    <div class="row">
        <form action="" id="delivery_option_form">
            <div class="col-md-6">
                <div class="box">
                    <input id="delivery_option_id" name="delivery_option_id" type="hidden" value="{{ delivery_option.id }}" />
                    <div class="box-body">
                        <div class="form-group">
                            <label for="delivery_option_name">Название опции доставки</label>
                            <input id="delivery_option_name" name="delivery_option_name" class="form-control" type="text" value="{{ delivery_option.name }}" />
                        </div>
                    </div>
                    <div class="box-footer">
                        <a href="{{ url('content.shop.delivery_options.manage') }}" class="btn btn-default">Отменить</a>
                        <button id="submit-delivery-option" type="submit" class="btn btn-info pull-right delivery_option_submit">{{ submit_button_title }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {{ '/js/shop/content/delivery_option.js' | append(js_imports) }}
{% endblock %}
