{% extends "base.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a href="{{ url('content.shop.delivery_options.create') }}" type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Новая опция доставки</a>
                </div>
                <div class="box-body">
                    <div id="delivery_options_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="delivery_options" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="delivery_options_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" width="64px" tabindex="0" aria-controls="delivery_options" rowspan="1" colspan="1" aria-sort="ascending">ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="delivery_options" rowspan="1" colspan="1">Название опции доставки</th>
                                            <th tabindex="0" width="64px" aria-controls="delivery_options" rowspan="1" colspan="1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for delivery_option in delivery_options %}
                                        <tr role="row" class="{% if loop.index is divisibleby 2 %}onn{% else %}even{% endif %}">
                                            <td class="sorting_1 delivery_option_id">{{ delivery_option.id }}</td>
                                            <td>{{ delivery_option.name }}</td>
                                            <td class="text-center">
                                                <a href="{{ url('content.shop.delivery_options.update', delivery_option_id=delivery_option.id) }}"
                                                   title="Редактировать">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#" class="delivery_option_remove">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">ID</th>
                                            <th rowspan="1" colspan="1">Название опции доставки</th>
                                            <th rowspan="1" colspan="1"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ '/js/shop/content/delivery_option.js' | append(js_imports) }}
{% endblock %}
