{% extends "base.jinja2" %}

{% block content %}
    {% if game is defined %}
        {% set submit_button_title = 'Сохранить' %}
    {% else %}
        {% set submit_button_title = 'Создать' %}
    {% endif %}

    <div class="row">
        <div id="game-box" class="col-md-12"></div>
        <div id="services-box" class="col-md-12"></div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-primary add_service">
                <i class="fa fa-plus"></i> Добавить услугу
            </button>

            <a href="{{ url('content.shop.games.manage') }}" class="btn btn-default pull-right">Отменить</a>
            <button type="submit" class="btn btn-primary pull-right game_submit">{{ submit_button_title }}</button>
        </div>
    </div>

    <script>
    {% if game is defined %}
        let gameInfo = {{ game|tojson|safe }};
    {% else %}
        let gameInfo = {
            game_id: null,
            game_name: null,
            game_description: null,
            game_image_url: null,
            game_chat_image_url: null,
            game_platform_ids: [],
            game_services: []
        };
    {% endif %}

    const gameTemplate = ({gameId, gameName, gameDescription, gamePlatformIds, gameImage, gameChatImage} = {}) => {
        if (!gameId)
            gameId = '';
        if (!gameName)
            gameName = '';
        if (!gameDescription)
            gameDescription = '';
        if (!gamePlatformIds)
            gamePlatformIds = [];
        if (!gameImage)
            gameImage = 'default.jpeg';
        if (!gameChatImage)
            gameChatImage = '';

        let platformOptions = `
            {% for platform in platforms %}
            <option value="{{ platform.platform.id }}">
                {{ platform.platform.name }}
            </option>
            {% endfor %}
        `;

        return `
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Основная информация</h3>
                </div>
                <div class="box-body">
                    <input id="game_id"
                           name="game_id"
                           type="hidden"
                           value="${gameId}" />
                    <div class="form-group">
                        <label for="game_name">Название игры</label>
                        <input id="game_name"
                               name="game_name"
                               class="form-control"
                               type="text"
                               value="${gameName}" />
                    </div>
                    <div class="form-group">
                        <label for="game_description">Описание</label>
                        <textarea id="game_description"
                                  name="game_description"
                                  class="form-control">${gameDescription}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="platform-select-multiple">Платформы</label>
                        <select id="platform-select-multiple"
                                class="form-control platform-select-multiple"
                                name="platform_ids"
                                multiple="multiple"
                                values="${gamePlatformIds.join()}">
                            ${platformOptions}
                        </select>
                    </div>
                    <img id="main-image-view" width="256px" src="https://{{ settings.aws_bucket }}/${gameImage}" />
                    <div class="form-group">
                        <label for="main-image">Основное изображение</label>
                        <input id="main-image"
                               name="main_image"
                               type="file" />
                    </div>
                    <img id="chat-image-view" width="256px" src="https://{{ settings.aws_bucket }}/${gameChatImage}" />
                    <div class="form-group">
                        <label for="chat-image">Изображение канала в общем чате</label>
                        <input id="chat-image"
                               name="chat_image"
                               type="file" />
                    </div>
                </div>
            </div>
        `;
    };

    const gameOptionValueTemplate = ({gameOptionValueId, gameOptionValue} = {}) => {
        if (!gameOptionValueId)
            gameOptionValueId = '';
        if (!gameOptionValue)
            gameOptionValue = '';

        return `
            <div class="">
                <div class="col-md-11 form-group">
                    <input type="text"
                           name="option_values"
                           item_id="${gameOptionValueId}"
                           class="form-control option-values"
                           value="${gameOptionValue}" />
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger pull-right delete-game-option-value">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
        `;
    };

    const gameOptionTemplate = ({gameOptionId, gameOptionName, gameOptionPosition} = {}) => {
        if (!gameOptionId)
            gameOptionId = '';
        if (!gameOptionName)
            gameOptionName = '';
        if (!gameOptionPosition)
            gameOptionPosition = '0';


        return `
            <div class="box">
                <div class="box-body">
                    <div class="form-group">
                        <label>Название опции</label>
                        <input type="text"
                               name="option_name"
                               item_id="${gameOptionId}"
                               class="form-control option-name"
                               value="${gameOptionName}"/>
                    </div>
                    <div class="form-group">
                        <label>Позиция</label>
                        <input type="text"
                               name="option_position"
                               class="form-control option-position"
                               value="${gameOptionPosition}" />
                    </div>
                    <div class="form-group">
                        <label>Возможные значения</label>
                        <div class="game-option-values"></div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary add-game-option-value">
                        <i class="fa fa-plus"></i> Добавить значение
                    </button>
                    <button class="btn btn-danger delete-game-option">
                        <i class="fa fa-plus"></i> Удалить опцию
                    </button>
                </div>
            </div>
        `;
    };

    const serviceTemplate = ({serviceId, priceUnitPlaceholder, advancedFormName, deliveryOptionIds} = {}) => {
        if (!serviceId)
            serviceId = '';
        if (!priceUnitPlaceholder)
            priceUnitPlaceholder = '';
        if (!advancedFormName)
            advancedFormName = 'default.jinja2';
        if (!deliveryOptionIds)
            deliveryOptionIds = [];

        let serviceOptions = `
            <option value="" selected disabled hidden>Выберите услугу...</option>
            {% for service in services %}
            <option value={{ service.service.id }}>
                {{ service.full_name }}
            </option>
            {% endfor %}
        `;

        let deliveryOptions = `
            {% for delivery_option in delivery_options %}
            <option value="{{ delivery_option.id }}">
                {{ delivery_option.name }}
            </option>
            {% endfor %}
        `;

        return `
            <div class="box service-box">
                <div class="box-body">
                    <div class="form-group">
                        <label>Услуга</label>
                        <select class="form-control service-id"
                                name="service_id"
                                values="${serviceId}">
                            ${serviceOptions}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Единица стоимости (placeholder)</label>
                        <input type="text"
                               class="form-control price-unit-placeholder"
                               name="price_unit_placeholder"
                               value="${priceUnitPlaceholder}" />
                    </div>
                    <div class="form-group">
                        <label>Название формы</label>
                        <input type="text"
                               class="form-control advanced-form-name"
                               name="advanced_form_name"
                               value="${advancedFormName}" />
                    </div>
                    <div class="form-group">
                        <label>Опции доставки</label>
                        <select class="form-control delivery-option-select-multiple"
                                name="delivery_option_ids"
                                multiple="multiple"
                                values=${deliveryOptionIds.join()}>
                            ${deliveryOptions}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Опции игры</label>
                        <div class="game-options"></div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary add-game-option">
                        <i class="fa fa-plus"></i> Добавить опцию
                    </button>
                    <button class="btn btn-danger delete-service">
                        <i class="fa fa-remove"></i> Удалить услугу
                    </button>
                </div>
            </div>
        `;
    };
    </script>

    {{ '/assets/select2/dist/js/select2.full.js' | append(js_imports) }}
    {{ '/js/shop/content/game.js' | append(js_imports) }}
{% endblock %}
