{% extends "base.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a href="{{ url('content.shop.games.create') }}" type="button"
                       class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Новая игра</a>
                </div>
                <div class="box-body">
                    <div id="platforms_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="game_table" class="table table-bordered table-striped dataTable"
                                       role="grid"
                                       aria-describedby="platforms_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" width="64px" tabindex="0" aria-controls="platforms"
                                            rowspan="1" colspan="1" aria-sort="ascending">ID
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="platforms" rowspan="1"
                                            colspan="1">Название игры
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="platforms" rowspan="1"
                                            colspan="1">Платформы
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="platforms" rowspan="1"
                                            colspan="1">Услуги
                                        </th>
                                        <th tabindex="0" width="64px" aria-controls="platforms" rowspan="1"
                                            colspan="1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for game in games %}
                                        <tr role="row"
                                            class="{% if loop.index is divisibleby 2 %}onn{% else %}even{% endif %}">
                                            <td class="sorting_1 game_id">{{ game.game_id }}</td>
                                            <td>{{ game.game_name }}</td>
                                            <td>
                                                {% for platform_id in game.game_platform_ids %}
                                                    {{ platform_name_by_id[platform_id] }}
                                                    <br />
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for service in game.game_services %}
                                                    {{ service_name_by_id[service.service_id] }}
                                                    <br />
                                                {% endfor %}
                                            </td>
                                            <td class="text-center">
                                                <a href="{{ url('content.shop.games.update', game_id=game.game_id) }}"
                                                   title="Редактировать">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#" class="game_remove">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">ID</th>
                                        <th rowspan="1" colspan="1">Название игры</th>
                                        <th rowspan="1" colspan="1">Платформы</th>
                                        <th rowspan="1" colspan="1">Услуги</th>
                                        <th rowspan="1" colspan="1"></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ '/assets/select2/dist/js/select2.full.js' | append(js_imports) }}
    {{ '/js/shop/content/game.js' | append(js_imports) }}
{% endblock %}
