{% import 'components/header.jinja2' as header %}
{% import 'components/footer.jinja2' as footer %}
{% import 'components/main_menu.jinja2' as main_menu %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex">
        <title>GGWH Admin</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="/assets/Ionicons/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/css/style.min.css">
        <link rel="stylesheet" href="/css/skin.min.css">
        <link rel="stylesheet" href="/css/jquery.toast.min.css">
        <link rel="stylesheet" href="/assets/select2/dist/css/select2.css" />
        <!-- Date Picker -->
        <link rel="stylesheet" href="/assets/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="/assets/bootstrap-daterangepicker/daterangepicker.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {{ header.render(request) }}

            {{ main_menu.render() }}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {{ title }}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    {% block content %}
                    {% endblock %}
                </section>
                <!-- /.content -->
            </div>

            {{ footer.render() }}
        </div>

        <script src="/assets/jquery/dist/jquery.min.js"></script>
        <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/assets/moment/min/moment.min.js"></script>
        <script src="/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/assets/fastclick/lib/fastclick.js"></script>
        <script src="/js/js.min.js"></script>

        <!-- Data tables -->
        <script src="/assets/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="/assets/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="/js/jquery.toast.min.js"></script>
        {% for js_src in js_imports %}
            <script src="{{ js_src }}"></script>
        {% endfor %}
    </body>
</html>