{% extends "base.jinja2" %}

{% block content %}
    {% if platform is undefined %}
        {% set platform = dict(id='', group_id='', name='') %}
        {% set platform_group = dict(id='', name='') %}
        {% set submit_button_title = 'Создать' %}
    {% else %}
        {% set submit_button_title = 'Сохранить' %}
    {% endif %}

    <div class="row">
        <div class="col-md-6">
        <form action="" id="platform_form">
                <div class="box">
                    <input id="platform_id" name="platform_id" type="hidden" value="{{ platform.id }}" />
                    <div class="box-body">
                        <div class="form-group">
                            <label for="platform_name">Название платформы</label>
                            <input id="platform_name" name="platform_name" class="form-control" type="text" value="{{ platform.name }}" />
                        </div>
                        <div class="form-group">
                            <label for="select_platform_group_single">Группа платформ</label>
                            <select id="select_platform_group_single"
                                    class="form-control col-md-12"
                                    data-placeholder="Выберите группу"
                                    name="platform_group_id">
                                {% for group in all_platform_groups %}
                                    <option value="{{ group.id }}"
                                            {% if platform_group.id == group.id %} selected="selected" {% endif %}>
                                        {{ group.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a href="{{ url('content.shop.platforms.manage') }}" class="btn btn-default">Отменить</a>
                        <button id="submit-platform" type="submit" class="btn btn-info pull-right platform_submit">{{ submit_button_title }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {{ '/js/shop/content/platform.js' | append(js_imports) }}
{% endblock %}
