{% extends "base.jinja2" %}

{% block content %}
    {% if service is undefined %}
        {% set service = dict(id='', name='', delivery_guidelines='') %}
        {% set duration_days = [] %}
        {% set insurance_days = [] %}
        {% set submit_button_title = 'Создать' %}
    {% else %}
        {% set submit_button_title = 'Сохранить' %}
    {% endif %}

    <div class="box box-primary">
        <div class="box-header with-border">

        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="" id="service_form">
            <input type="hidden" id="service_id" name="service_id" value="{{ service.id }}">
            <div class="box-body">
                <div class="form-group">
                    <label for="service_name">Название сервиса</label>
                    <input type="text"
                           class="form-control"
                           id="service_name"
                           name="service_name"
                           value="{{ service.name }}"
                           placeholder="Service name">
                </div>
                <img id="service-icon-view" width="32px" src="https://{{ settings.aws_bucket }}/{{ service.icon_url }}" />
                <div class="form-group">
                    <label for="service-icon">Иконка услуги</label>
                    <input id="service-icon"
                           name="service_icon"
                           type="file"
                           accept="image/svg+xml" />
                </div>
                <div class="form-group">
                    <label for="parent_id">Родительская услуга</label>
                    <select id="parent_id"
                            class="form-control col-md-12"
                            data-placeholder="Выберите родительскую услугу"
                            name="parent_id">
                            <option value="0"></option>
                            {% for parent_service in parent_services %}
                                <option value="{{ parent_service.service.id }}"
                                        {% if parent_service.service.id == service.parent_id %} selected="selected" {% endif %}>
                                    {{ parent_service.full_name }}
                                </option>
                            {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="delivery_guidelines">Инструкция по доставке</label>
                    <input type="text"
                           class="form-control"
                           id="delivery_guidelines"
                           name="delivery_guidelines"
                           value="{{ service.delivery_guidelines }}"
                           placeholder="Service delivery guidelines">
                </div>
                <div class="form-group">
                    <label for="duration_days">Длительность</label>
                    <input type="text"
                           class="form-control"
                           id="duration_days"
                           name="duration_days"
                           value="{{ duration_days | map(attribute="duration_days") | join(", ") }}"
                           placeholder="Service duration values">
                </div>
                <div class="form-group">
                    <label for="insurance_days">Страховка</label>
                    <input type="text"
                           class="form-control"
                           id="insurance_days"
                           name="insurance_days"
                           value="{{ insurance_days | map(attribute="insurance_days") | join(", ") }}"
                           placeholder="Service insurance values">
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="{{ url('content.shop.services.manage') }}" class="btn btn-default">Отменить</a>
                <button id="submit-service" type="submit" class="btn btn-info pull-right service_submit">{{ submit_button_title }}</button>
            </div>
        </form>
    </div>
    {{ '/js/shop/content/service.js' | append(js_imports) }}
{% endblock %}
