{% extends "base.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a href="{{ url('content.shop.services.create') }}" type="button"
                       class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Новая услуга</a>
                </div>
                <div class="box-body">
                    <div id="platforms_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="service_table" class="table table-bordered table-striped dataTable"
                                       role="grid"
                                       aria-describedby="platforms_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" width="64px" tabindex="0" aria-controls="platforms"
                                            rowspan="1" colspan="1" aria-sort="ascending">ID
                                        </th>
                                        <th tabindex="0" aria-controls="platforms" rowspan="1" colspan="1">
                                            Иконка услуги
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="platforms" rowspan="1"
                                            colspan="1">Название услуги
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="platforms" rowspan="1"
                                            colspan="1">Инструкция по доставке
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="platforms" rowspan="1"
                                            colspan="1">Длительность
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="platforms" rowspan="1"
                                            colspan="1">Страхование
                                        </th>
                                        <th tabindex="0" width="64px" aria-controls="platforms" rowspan="1"
                                            colspan="1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for extended_service in extended_services %}
                                        <tr role="row"
                                            class="{% if loop.index is divisibleby 2 %}onn{% else %}even{% endif %}">
                                            <td class="sorting_1 service_id">{{ extended_service.service.id }}</td>
                                            <td><img src="https://{{ settings.aws_bucket }}/{{ extended_service.service.icon_url }}" width="32px" /></td>
                                            <td>{{ extended_service.full_name }}</td>
                                            <td>{{ extended_service.service.delivery_guidelines }}</td>
                                            <td>
                                                {{ extended_service.duration_days | map(attribute="duration_days") | join(", ") }}
                                            </td>
                                            <td>
                                                {{ extended_service.insurance_days | map(attribute="insurance_days") | join(", ") }}
                                            </td>
                                            <td class="text-center">
                                                <a href="{{ url('content.shop.services.update', service_id=extended_service.service.id) }}"
                                                   title="Редактировать">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#" class="service_remove">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">ID</th>
                                        <th rowspan="1" colspan="1">Иконка услуги</th>
                                        <th rowspan="1" colspan="1">Название услуги</th>
                                        <th rowspan="1" colspan="1">Инструкция по доставке</th>
                                        <th rowspan="1" colspan="1">Длительность</th>
                                        <th rowspan="1" colspan="1">Страхование</th>
                                        <th rowspan="1" colspan="1"></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ '/js/shop/content/service.js' | append(js_imports) }}
{% endblock %}
