{% extends "base.jinja2" %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Добавление языка</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="" id="translate_form">
            <div class="box-body">
                <div class="form-group">
                    <label for="lang_name">Код перевода</label>
                    <input type="text"
                           class="form-control"
                           id="text_code"
                           name="text_code"
                           placeholder="Text code">
                </div>
                <div class="form-group" id="translates">
                    {% for language in languages %}
                        <div class="input-group">
                            <span class="input-group-addon">{{ language.lang_code }}</span>
                            <input type="text" class="form-control" name="{{ language.lang_code }}"
                                   placeholder="{{ language.lang_name }} translate">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="submit" class="btn btn-primary lang_submitter" value="OK">
            </div>
        </form>
    </div>

        {{ "/js/shop/localization/translate_create.js" | append(js_imports) }}
{% endblock %}
