{% extends "base.jinja2" %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Изменить перевод ({{ text_code }})</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="" id="translate_form">
            <div class="box-body">
                <input type="hidden" name="text_code" value="{{ text_code }}" id="text_code">
                <div class="form-group" id="translates">
                    {% for lang, trans in translates.items() %}
                        <div class="input-group">
                            <span class="input-group-addon">{{ lang }}</span>
                            <input type="text"
                                   class="form-control"
                                   name="{{ lang }}"
                                   placeholder="{{ lang }} translate"
                                   value="{{ trans }}"
                            >
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="submit" class="btn btn-primary lang_submitter" value="OK">
            </div>
        </form>
    </div>

    {{ "/js/shop/localization/translate_edit.js" | append(js_imports) }}
{% endblock %}
