{% extends "base.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <a href="{{ url('localization.shop.translate.create') }}" type="button"
                       class="btn btn-primary pull-right"><i class="fa fa-plus"></i>Добавить перевод</a>
                </div>
                <div class="box-body">
                    <div id="platforms_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="trans_table" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="platforms_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="platforms" rowspan="1"
                                            colspan="1">Код фразы
                                        </th>
                                        <th tabindex="0" width="64px" aria-controls="platforms" rowspan="1"
                                            colspan="1">
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for trans in translates %}
                                        <tr role="row"
                                            class="{% if loop.index is divisibleby 2 %}onn{% else %}even{% endif %}">
                                            <td class="text_code">{{ trans }}</td>
                                            <td class="pull-right">
                                                <a href="{{ url('localization.shop.translate.update', text_code=trans) }}"
                                                   title="Редактировать">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#" class="translate_remove">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Код фразы</th>
                                        <th rowspan="1" colspan="1"></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ "/js/shop/localization/translate_delete.js" | append(js_imports) }}

{% endblock %}
